.board-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.board-grid > button {
  height: 200px;
  padding: 10px 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
