.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3vh;
}

.rules {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  padding-top: 1vh;
  color: white;
}

.grid {
  padding-top: 3vh;
}

.game-result {
  padding: 1vh;
  display: inline-block;
}

.game-turn {
  padding: 1vh;
}

.turn-player-X {
  float: left;
  display: inline-block;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-bottom: 100vh;
}

.turn-player-O {
  float: right;
  display: inline-block;

  margin-bottom: 10vh;
}

.board-grid {
  display: inline-block;
}

.board-fields {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.board-fields > button {
  height: 150px;
  width: 150px;
  padding: 10px 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.game {
  padding: 1vh;
}

.game > button {
  height: 5vh;
  width: 20vh;
}

.display-none {
  visibility: hidden;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
