.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7ac45a;
  min-height: 100%;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 1vh;
  background-image: url(./ticTacToe.png);
  background-size: 40%;
  /* background-position: right; */
  background-repeat: no-repeat;
}

.rules {
  height: 100%;
  flex-direction: column;
  padding: 3vh;
  font-size:15.5px;
  line-height: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: 15% 15% auto 15% 15%;

  padding-top: 3vh;
}

.turn-player-X {
  grid-column-start: 1;
  grid-column-end: 3;
  display: inline-block;
  color: #E21E24
}

.turn-player-O {
  grid-column-start: 4;
  grid-column-end: 6;
  display: inline-block;
  color: #038ED0;
}

.players-turn {
  padding-top: 50%;
  font-size: 50px;
  display: inline-block;
}

.board-grid {
  display: inline-block;
}

.board-fields {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.board-fields > button {
  height: 150px;
  width: 150px;
  padding: 10px 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.new-game {
  grid-template-columns: 15% 15% auto 15% 15%;
  padding: 1vh;
}

.new-game > button {
  display: inline-block;
  height: 5vh;
  width: 20vh;
}

.game-result {
  padding: 1vh;
  display: inline-block;
}

.result {
  display: inline-block;
}

.display-none {
  visibility: hidden;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
